# Unit 16. for 반복문

## 16.1 for와 range

In [1]:
for i in range(10):
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [8]:
for i in range(10):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [9]:
for _ in range(10):             # i를 사용하지 않을 때 _이용
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

## 16.2 for와 range 응용

In [10]:
for i in range(6,10):
    print('Hello, world!', i)

Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [11]:
for i in range(0,10,2):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 2
Hello, world! 4
Hello, world! 6
Hello, world! 8

In [12]:
for i in range(10,0,-2):
    print('Hello, world!', i)

Hello, world! 10
Hello, world! 8
Hello, world! 6
Hello, world! 4
Hello, world! 2

In [15]:
for i in range(1,101):
    print('fizz'*(i%3==0) + 'buzz'*(i%5==0) or i, end=' ')
    if i%10 == 0:
        print()

1 2 fizz 4 buzz fizz 7 8 fizz buzz
11 fizz 13 14 fizzbuzz 16 17 fizz 19 buzz
fizz 22 23 fizz buzz 26 fizz 28 29 fizzbuzz
31 32 fizz 34 buzz fizz 37 38 fizz buzz
41 fizz 43 44 fizzbuzz 46 47 fizz 49 buzz
fizz 52 53 fizz buzz 56 fizz 58 59 fizzbuzz
61 62 fizz 64 buzz fizz 67 68 fizz buzz
71 fizz 73 74 fizzbuzz 76 77 fizz 79 buzz
fizz 82 83 fizz buzz 86 fizz 88 89 fizzbuzz
91 92 fizz 94 buzz fizz 97 98 fizz buzz

## 16.3 시퀀스 객체 반복

In [16]:
fruits = ['apple', 'banana', 'cherry']
for element in fruits:
    print(element)

apple
banana
cherry

In [18]:
fruit_list = ['apple', 'banana', 'cherry']
for fruit in fruit_list:
    print(fruit)

apple
banana
cherry

In [20]:
for letter in 'Python':
    print(letter, end='')

Python

In [21]:
for letter in reversed('Python'):
    print(letter, end=' ')

n o h t y P

In [22]:
for number in (10, 20, 30):
    print(number)

10
20
30

### Perfect Number
- 자기 자신을 제외한 약수의 합이 자기 자신과 같은 수
- 6 = 1 + 2 + 3

In [24]:
# 10000 이하의 자연수 중에서 4개의 퍼펙트 넘버를 찾아라

for i in range(2,10001):
    n = 0
    for j in range(1,i):
        if i%j==0:
            n += j
    if n == i:
        print(i)

6
28
496
8128