In [3]:
# 15단원 심사문제
age = int(input())
balance = 9000    # 교통카드 잔액

#----------------------

if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
else:
    balance -= 1250

#----------------------
print(balance)

15
7950

In [6]:
# 16단원 심사문제
x = int(input())

for i in range(1,10):
    print(x,'*',i,'=',x*i)

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [8]:
# 17단원 심사문제
x = int(input())

while x >= 1350:
    x -= 1350
    print(x)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [16]:
# 18단원 심사문제
start, stop = map(int, input().split())
 
i = start
 
while True:
#---------------------------------
    if i == stop+1:         ## 문제에서 start랑 stop 사이의 숫자라고 해놓고 예시에는 stop 포함됨
        break
    elif i % 10 == 3:
        i += 1
        continue
#---------------------------------
    print(i, end=' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19

In [18]:
# 19단원 심사문제
x = int(input())

for i in range(1,x+1):
    print(' '*(x-i) + '*'*(2*i-1))

3
  *
 ***
*****

In [20]:
# 20단원 심사문제

start, stop = map(int, input().split())

for i in range(start, stop+1):
    if i % 35 == 0:
        print('FizzBuzz')
    elif i % 7 == 0:
        print('Buzz')
    elif i % 5 == 0:
        print('Fizz')
    else:
        print(i)

35 40
FizzBuzz
36
37
38
39
Fizz

In [25]:
# 22단원 심사문제

start, stop = map(int, input().split())

a = [2**i for i in range(start, stop+1)]
del a[1]
del a[-2]
print(a)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [30]:
# 추가문제 1
# a + b + c = 1000 (a < b < c)
# a*a + b*b = c*c 인 피타고라스 수는?


for a in range(1,334):
    for b in range(a+1,500):
        c = 1000 -a -b
        if a*a + b*b == c*c:
            print(a, b, c)

200 375 425

In [42]:
# 추가문제 2
# 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.
from datetime import date
today = date.today()
today_y = today.year
today_m = today.month
today_d = today.day

birth_y, birth_m, birth_d = map(int, input().split())

kor_age = today_y - birth_y +1
american_age = 0

## 생일이 안지나서 만 나이와 한국 나이가 2살 차이 나는 경우

if today_m * 100 + today_d < birth_m * 100 + birth_d:
    american_age = kor_age -2

## 생일 or 생일이 지나서 만 나이와 한국 나이가 1상 차이 나는 경우

if today_m * 100 + today_d >= birth_m * 100 + birth_d:
    american_age = kor_age -1


print(american_age)

1992 10 7
28

In [41]:
# 추가문제 3
#디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?
#디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

count = 0

for hour in range(0,24):
    for minite in range(0,60):
        if hour % 10 == 3:
            count += 60
        else:
            if minite // 10 == 3:
                count += 60
            elif minite % 10 == 3:
                count += 60
print(count)

29700