# Unit 38. 예외처리

## 38.1 try-except

In [2]:
a = [1,2,3]
try:
    a[4]
except:
    print('예외 발생')

예외 발생

In [3]:
int('10d')

ValueError: ignored

### 특정 예외만 처리하기

In [4]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')

ValueError: ignored

In [5]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')
except ValueError:
    print('Value Error 발생')

Value Error 발생

### 예외의 에러 메시지 받아오기

In [6]:
try:
    int('10d')
except Exception as e:      # alias
    print(e)                # Exception 객체의 __str__() method

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [ ]:
'''
try:
    실행할 코드
except:
    예외가 발생했을 때 처리하는 코드
else:
    예외가 발생하지 않았을 때 실행할 코드
finally:
    예외 발생 여부와 상관없이 항상 실행할 코드
'''

In [9]:
try:
    x = int(input('나눌 숫자 입력> '))
    y = 10/x
except Exception as e:
    print(e)
else:
    print(y)

나눌 숫자 입력> sd
invalid literal for int() with base 10: 'sd'

In [10]:
# 예외와 상관없이 항상 실행

try:
    x = int(input('나눌 숫자 입력> '))
    y = 10/x
except Exception as e:
    print(e)
else:
    print(y)
finally:
    print('코드 실행 종료')

나눌 숫자 입력> 0
division by zero
코드 실행 종료

## 38.3 예외 발생시키기

In [36]:
import random
try:
    x = random.randint(1,10)
    print(x)
    if x % 3 != 0:
        raise Exception('3의 배수가 아닙니다.')

except Exception as e:
    print('예외 발생', e)

5
예외 발생 3의 배수가 아닙니다.

In [37]:
def multiple11(x):
    if x % 11 != 0:
        raise Exception('11의 배수가 아닙니다.')
    print(x)

In [38]:
try:
    multiple11(100)
except Exception as e:
    print('예외 발생 -', e)

예외 발생 - 11의 배수가 아닙니다.

In [ ]:
'''
for문 한꺼번에 다 빠져나오고 싶을 때 이용할 수도 있음
try:
    for():
        for():
            for():
                if 조건:
                    raise Exception()
except:
    ;
'''

## 38.4 예외 만들기

In [ ]:
# Exception 객체를 상속받아 객체를 만들면 됨