# Unit 29. 함수

## 29.1 출력 함수 만들기

In [4]:
def hello():
    print('Hi, Hello, 안녕~!')

In [5]:
hello()

Hi, Hello, 안녕~!

## 29.2 덧셈 함수

In [6]:
# 매개변수, parameter, argument
def add(a, b):
    print(a+b)

In [9]:
add(3,5)
add(14,16)

8
30

In [10]:
# Docstrings
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 프린트하는 함수입니다.
    """
    print(a+b)

In [12]:
# 도움말 호출
add?

In [13]:
print?

## 29.3 결과값 반환

In [14]:
def add(a,b):
    return a+b

In [15]:
add(4,5), add(10,20)

(9, 30)

In [16]:
x = add(34,23)
x

57

In [17]:
def is_ten(x):
    return x == 10

In [18]:
is_ten(101//10)

True

In [21]:
def not_ten(x):
    if x == 10:
        return
    else:
        print('It is not 10.')

In [22]:
not_ten(5)

It is not 10.

In [23]:
not_ten(101//10)

In [24]:
def not_ten(x):
    if x == 10:
        return
    print('It is not 10.')

In [25]:
not_ten(7)

It is not 10.

## 29.4 여러개의 결과값 반환

In [26]:
def add_sub(a,b):
    return a+b, a-b

In [27]:
x, y = add_sub(15,7)
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [29]:
def mul(a, b):
    c = a * b
    return c
 
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
 
x = 10
y = 20
add(x, y)

30
200

## 연습문제
- 3자리 정수 두 개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?
- 팔린드롬(Palindrome) : 12321 처럼 대칭인 숫자

In [41]:
def is_palin(x):
    for i in range(len(x)):
        if x[i] == x[-i-1]:
            pass
        else:
            return False
    return True

In [45]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]     # Microsoft AI는 이렇게 코딩한다..;

In [48]:
big, m, n = 0, 0, 0
for i in range(100,1000):
    for k in range(i,1000):
        x = i * k
        x = str(x)
        if is_palindrome(x) and big <= int(x):
            big, m, n = int(x), i, k
print(f'{m} X {n} = {big}')

913 X 993 = 906609