# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [3]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [4]:
print_numbers(10,20,30)

10
20
30

In [7]:
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)           # *x - list unpacking
print_numbers(*y)           # *y - tuple unpacking

10
20
30
40
50
60

### 가변 인수 함수

In [11]:
# 가변 인수로 하면 몇개든 찍어줌
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers2(10,20,30,40,50)

10
20
30
40
50

In [13]:
print_numbers2(5)

5

### 고정 인수와 가변 인수

In [14]:
def print_numbers3(a, *b):
    print(a)
    print(b)

In [15]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [16]:
print_numbers3(*x)

10
(20, 30)

In [17]:
# 가변인수가 먼저 나오면 안됨, 가변인수에 다 때려넣고 고정인수에 값이 없게 됨
def print_numbers4(*a, b):      # *a 대신 가변인수에는 *args 를 쓰는게 관례
    print(a)
    print(b)

In [18]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [23]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [24]:
personal_info('홍길동',30,'서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [25]:
personal_info(age=30,addr='서울 강남구 도곡동',name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [26]:
# 딕셔너리 언패킹은 **x (별표 2개)
x = {'name':'홍길동','age':30,'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [27]:
# 딕셔너리에 별 1개만 쓰면 키만 가져옴
personal_info(*x)

이름: name
나이: age
주소: addr

### 가변 키워드 인수

In [30]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [31]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [32]:
personal_info2(name='홍길동', age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [33]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [34]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [38]:
# 위치인수 (고정 위치 인수, 가변 위치 인수), 키워드 인수 (고정 키워드 인수, 가변 키워드 인수) 순서로 넣어야 함
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [39]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [40]:
def personal_info4(name, age, addr='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [41]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소: 비공개

In [42]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동